<!--tablas-->
{{>header}}

{{{listarCursos}}}

<!--tablas-->

<div class="container-md p-5 bg-secondary">
    <div class="row pt-5">
        <h3 class="text-center pb-5 pt-5 h1"> Posrtafolio de cursos</h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">curso</th>
                <th scope="col">codigo</th>
                <th scope="col">modalidad</th>
                <th scope="col">valor</th>
                <th scope="col">duracion</th>
                <th scope="col">estado</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>dibujo</td>
                <td>001</td>
                <td>presencial</td>
                <td>345.000</td>
                <td>23horas</td>
                <td>disponible</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>pintura</td>
                <td>002</td>
                <td>presencial</td>
                <td>400.000</td>
                <td>27horas</td>
                <td>no disponible </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>photoshop</td>
                <td>003</td>
                <td>virtual</td>
                <td>356.000</td>
                <td>20horas</td>
                <td>disponible</td>
            </tr>
        </tbody>
    </table>
    <div class="mt-3 text-center">
        <button class="btn btn-lg btn-primary btn-block">actualizar</button>
    </div>

</div>
{{>footer}}
